<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.adCouponMapper" >
  <resultMap id="BaseResultMap" type="entity.adCoupon" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="business_id" property="businessId" jdbcType="BIGINT" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="product_sn" property="productSn" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="is_open" property="isOpen" jdbcType="CHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="is_creat" property="isCreat" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="coupon_type" property="couponType" jdbcType="CHAR" />
    <result column="category_type" property="categoryType" jdbcType="CHAR" />
    <result column="distribution_quantity" property="distributionQuantity" jdbcType="INTEGER" />
    <result column="remind_quantity" property="remindQuantity" jdbcType="INTEGER" />
    <result column="product_second_category" property="productSecondCategory" jdbcType="INTEGER" />
    <result column="first_show" property="firstShow" jdbcType="CHAR" />
    <result column="product_first_category" property="productFirstCategory" jdbcType="INTEGER" />
    <result column="receive_type" property="receiveType" jdbcType="CHAR" />
    <result column="coupon_value" property="couponValue" jdbcType="DECIMAL" />
    <result column="coupon_unit" property="couponUnit" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="wechat_list_image" property="wechatListImage" jdbcType="VARCHAR" />
    <result column="wechat_detail_image" property="wechatDetailImage" jdbcType="VARCHAR" />
    <result column="pc_detail_image" property="pcDetailImage" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="CHAR" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="coupon_category" property="couponCategory" jdbcType="INTEGER" />
    <result column="business_online_url" property="businessOnlineUrl" jdbcType="VARCHAR" />
    <result column="business_app_url" property="businessAppUrl" jdbcType="VARCHAR" />
    <result column="receive_channel" property="receiveChannel" jdbcType="CHAR" />
    <result column="app_download" property="appDownload" jdbcType="CHAR" />
    <result column="business_activity" property="businessActivity" jdbcType="CHAR" />
    <result column="business_activity_url" property="businessActivityUrl" jdbcType="VARCHAR" />
    <result column="coupon_user_detail" property="couponUserDetail" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="entity.adCouponWithBLOBs" extends="BaseResultMap" >
    <result column="wechat_introduction" property="wechatIntroduction" jdbcType="LONGVARCHAR" />
    <result column="pc_introduction" property="pcIntroduction" jdbcType="LONGVARCHAR" />
    <result column="wechat_convert_method" property="wechatConvertMethod" jdbcType="LONGVARCHAR" />
    <result column="pc_convert_method" property="pcConvertMethod" jdbcType="LONGVARCHAR" />
    <result column="wechat_attention" property="wechatAttention" jdbcType="LONGVARCHAR" />
    <result column="pc_attention" property="pcAttention" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, business_id, begin_date, end_date, name, product_sn, quantity, is_open, product_id, 
    product_name, business_name, activity_name, is_creat, create_by, del_flag, remarks, 
    update_date, update_by, create_date, coupon_type, category_type, distribution_quantity, 
    remind_quantity, product_second_category, first_show, product_first_category, receive_type, 
    coupon_value, coupon_unit, type, wechat_list_image, wechat_detail_image, pc_detail_image, 
    description, kind, tag_id, coupon_category, business_online_url, business_app_url, 
    receive_channel, app_download, business_activity, business_activity_url, coupon_user_detail
  </sql>
  <sql id="Blob_Column_List" >
    wechat_introduction, pc_introduction, wechat_convert_method, pc_convert_method, wechat_attention, 
    pc_attention
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ad_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ad_coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="entity.adCouponWithBLOBs" >
    insert into ad_coupon (id, business_id, begin_date, 
      end_date, name, product_sn, 
      quantity, is_open, product_id, 
      product_name, business_name, activity_name, 
      is_creat, create_by, del_flag, 
      remarks, update_date, update_by, 
      create_date, coupon_type, category_type, 
      distribution_quantity, remind_quantity, product_second_category, 
      first_show, product_first_category, receive_type, 
      coupon_value, coupon_unit, type, 
      wechat_list_image, wechat_detail_image, pc_detail_image, 
      description, kind, tag_id, 
      coupon_category, business_online_url, business_app_url, 
      receive_channel, app_download, business_activity, 
      business_activity_url, coupon_user_detail, 
      wechat_introduction, pc_introduction, 
      wechat_convert_method, pc_convert_method, 
      wechat_attention, pc_attention)
    values (#{id,jdbcType=BIGINT}, #{businessId,jdbcType=BIGINT}, #{beginDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{productSn,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{isOpen,jdbcType=CHAR}, #{productId,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, #{activityName,jdbcType=VARCHAR}, 
      #{isCreat,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{couponType,jdbcType=CHAR}, #{categoryType,jdbcType=CHAR}, 
      #{distributionQuantity,jdbcType=INTEGER}, #{remindQuantity,jdbcType=INTEGER}, #{productSecondCategory,jdbcType=INTEGER}, 
      #{firstShow,jdbcType=CHAR}, #{productFirstCategory,jdbcType=INTEGER}, #{receiveType,jdbcType=CHAR}, 
      #{couponValue,jdbcType=DECIMAL}, #{couponUnit,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{wechatListImage,jdbcType=VARCHAR}, #{wechatDetailImage,jdbcType=VARCHAR}, #{pcDetailImage,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{kind,jdbcType=CHAR}, #{tagId,jdbcType=INTEGER}, 
      #{couponCategory,jdbcType=INTEGER}, #{businessOnlineUrl,jdbcType=VARCHAR}, #{businessAppUrl,jdbcType=VARCHAR}, 
      #{receiveChannel,jdbcType=CHAR}, #{appDownload,jdbcType=CHAR}, #{businessActivity,jdbcType=CHAR}, 
      #{businessActivityUrl,jdbcType=VARCHAR}, #{couponUserDetail,jdbcType=VARCHAR}, 
      #{wechatIntroduction,jdbcType=LONGVARCHAR}, #{pcIntroduction,jdbcType=LONGVARCHAR}, 
      #{wechatConvertMethod,jdbcType=LONGVARCHAR}, #{pcConvertMethod,jdbcType=LONGVARCHAR}, 
      #{wechatAttention,jdbcType=LONGVARCHAR}, #{pcAttention,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.adCouponWithBLOBs" >
    insert into ad_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="beginDate != null" >
        begin_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="productSn != null" >
        product_sn,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="isOpen != null" >
        is_open,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="isCreat != null" >
        is_creat,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
      <if test="categoryType != null" >
        category_type,
      </if>
      <if test="distributionQuantity != null" >
        distribution_quantity,
      </if>
      <if test="remindQuantity != null" >
        remind_quantity,
      </if>
      <if test="productSecondCategory != null" >
        product_second_category,
      </if>
      <if test="firstShow != null" >
        first_show,
      </if>
      <if test="productFirstCategory != null" >
        product_first_category,
      </if>
      <if test="receiveType != null" >
        receive_type,
      </if>
      <if test="couponValue != null" >
        coupon_value,
      </if>
      <if test="couponUnit != null" >
        coupon_unit,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="wechatListImage != null" >
        wechat_list_image,
      </if>
      <if test="wechatDetailImage != null" >
        wechat_detail_image,
      </if>
      <if test="pcDetailImage != null" >
        pc_detail_image,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="couponCategory != null" >
        coupon_category,
      </if>
      <if test="businessOnlineUrl != null" >
        business_online_url,
      </if>
      <if test="businessAppUrl != null" >
        business_app_url,
      </if>
      <if test="receiveChannel != null" >
        receive_channel,
      </if>
      <if test="appDownload != null" >
        app_download,
      </if>
      <if test="businessActivity != null" >
        business_activity,
      </if>
      <if test="businessActivityUrl != null" >
        business_activity_url,
      </if>
      <if test="couponUserDetail != null" >
        coupon_user_detail,
      </if>
      <if test="wechatIntroduction != null" >
        wechat_introduction,
      </if>
      <if test="pcIntroduction != null" >
        pc_introduction,
      </if>
      <if test="wechatConvertMethod != null" >
        wechat_convert_method,
      </if>
      <if test="pcConvertMethod != null" >
        pc_convert_method,
      </if>
      <if test="wechatAttention != null" >
        wechat_attention,
      </if>
      <if test="pcAttention != null" >
        pc_attention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null" >
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null" >
        #{isOpen,jdbcType=CHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="isCreat != null" >
        #{isCreat,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=CHAR},
      </if>
      <if test="categoryType != null" >
        #{categoryType,jdbcType=CHAR},
      </if>
      <if test="distributionQuantity != null" >
        #{distributionQuantity,jdbcType=INTEGER},
      </if>
      <if test="remindQuantity != null" >
        #{remindQuantity,jdbcType=INTEGER},
      </if>
      <if test="productSecondCategory != null" >
        #{productSecondCategory,jdbcType=INTEGER},
      </if>
      <if test="firstShow != null" >
        #{firstShow,jdbcType=CHAR},
      </if>
      <if test="productFirstCategory != null" >
        #{productFirstCategory,jdbcType=INTEGER},
      </if>
      <if test="receiveType != null" >
        #{receiveType,jdbcType=CHAR},
      </if>
      <if test="couponValue != null" >
        #{couponValue,jdbcType=DECIMAL},
      </if>
      <if test="couponUnit != null" >
        #{couponUnit,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="wechatListImage != null" >
        #{wechatListImage,jdbcType=VARCHAR},
      </if>
      <if test="wechatDetailImage != null" >
        #{wechatDetailImage,jdbcType=VARCHAR},
      </if>
      <if test="pcDetailImage != null" >
        #{pcDetailImage,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=CHAR},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="couponCategory != null" >
        #{couponCategory,jdbcType=INTEGER},
      </if>
      <if test="businessOnlineUrl != null" >
        #{businessOnlineUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessAppUrl != null" >
        #{businessAppUrl,jdbcType=VARCHAR},
      </if>
      <if test="receiveChannel != null" >
        #{receiveChannel,jdbcType=CHAR},
      </if>
      <if test="appDownload != null" >
        #{appDownload,jdbcType=CHAR},
      </if>
      <if test="businessActivity != null" >
        #{businessActivity,jdbcType=CHAR},
      </if>
      <if test="businessActivityUrl != null" >
        #{businessActivityUrl,jdbcType=VARCHAR},
      </if>
      <if test="couponUserDetail != null" >
        #{couponUserDetail,jdbcType=VARCHAR},
      </if>
      <if test="wechatIntroduction != null" >
        #{wechatIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcIntroduction != null" >
        #{pcIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="wechatConvertMethod != null" >
        #{wechatConvertMethod,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcConvertMethod != null" >
        #{pcConvertMethod,jdbcType=LONGVARCHAR},
      </if>
      <if test="wechatAttention != null" >
        #{wechatAttention,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcAttention != null" >
        #{pcAttention,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.adCouponWithBLOBs" >
    update ad_coupon
    <set >
      <if test="businessId != null" >
        business_id = #{businessId,jdbcType=BIGINT},
      </if>
      <if test="beginDate != null" >
        begin_date = #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null" >
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null" >
        is_open = #{isOpen,jdbcType=CHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="isCreat != null" >
        is_creat = #{isCreat,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=CHAR},
      </if>
      <if test="categoryType != null" >
        category_type = #{categoryType,jdbcType=CHAR},
      </if>
      <if test="distributionQuantity != null" >
        distribution_quantity = #{distributionQuantity,jdbcType=INTEGER},
      </if>
      <if test="remindQuantity != null" >
        remind_quantity = #{remindQuantity,jdbcType=INTEGER},
      </if>
      <if test="productSecondCategory != null" >
        product_second_category = #{productSecondCategory,jdbcType=INTEGER},
      </if>
      <if test="firstShow != null" >
        first_show = #{firstShow,jdbcType=CHAR},
      </if>
      <if test="productFirstCategory != null" >
        product_first_category = #{productFirstCategory,jdbcType=INTEGER},
      </if>
      <if test="receiveType != null" >
        receive_type = #{receiveType,jdbcType=CHAR},
      </if>
      <if test="couponValue != null" >
        coupon_value = #{couponValue,jdbcType=DECIMAL},
      </if>
      <if test="couponUnit != null" >
        coupon_unit = #{couponUnit,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="wechatListImage != null" >
        wechat_list_image = #{wechatListImage,jdbcType=VARCHAR},
      </if>
      <if test="wechatDetailImage != null" >
        wechat_detail_image = #{wechatDetailImage,jdbcType=VARCHAR},
      </if>
      <if test="pcDetailImage != null" >
        pc_detail_image = #{pcDetailImage,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        kind = #{kind,jdbcType=CHAR},
      </if>
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="couponCategory != null" >
        coupon_category = #{couponCategory,jdbcType=INTEGER},
      </if>
      <if test="businessOnlineUrl != null" >
        business_online_url = #{businessOnlineUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessAppUrl != null" >
        business_app_url = #{businessAppUrl,jdbcType=VARCHAR},
      </if>
      <if test="receiveChannel != null" >
        receive_channel = #{receiveChannel,jdbcType=CHAR},
      </if>
      <if test="appDownload != null" >
        app_download = #{appDownload,jdbcType=CHAR},
      </if>
      <if test="businessActivity != null" >
        business_activity = #{businessActivity,jdbcType=CHAR},
      </if>
      <if test="businessActivityUrl != null" >
        business_activity_url = #{businessActivityUrl,jdbcType=VARCHAR},
      </if>
      <if test="couponUserDetail != null" >
        coupon_user_detail = #{couponUserDetail,jdbcType=VARCHAR},
      </if>
      <if test="wechatIntroduction != null" >
        wechat_introduction = #{wechatIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcIntroduction != null" >
        pc_introduction = #{pcIntroduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="wechatConvertMethod != null" >
        wechat_convert_method = #{wechatConvertMethod,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcConvertMethod != null" >
        pc_convert_method = #{pcConvertMethod,jdbcType=LONGVARCHAR},
      </if>
      <if test="wechatAttention != null" >
        wechat_attention = #{wechatAttention,jdbcType=LONGVARCHAR},
      </if>
      <if test="pcAttention != null" >
        pc_attention = #{pcAttention,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="entity.adCouponWithBLOBs" >
    update ad_coupon
    set business_id = #{businessId,jdbcType=BIGINT},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=CHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      is_creat = #{isCreat,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      coupon_type = #{couponType,jdbcType=CHAR},
      category_type = #{categoryType,jdbcType=CHAR},
      distribution_quantity = #{distributionQuantity,jdbcType=INTEGER},
      remind_quantity = #{remindQuantity,jdbcType=INTEGER},
      product_second_category = #{productSecondCategory,jdbcType=INTEGER},
      first_show = #{firstShow,jdbcType=CHAR},
      product_first_category = #{productFirstCategory,jdbcType=INTEGER},
      receive_type = #{receiveType,jdbcType=CHAR},
      coupon_value = #{couponValue,jdbcType=DECIMAL},
      coupon_unit = #{couponUnit,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      wechat_list_image = #{wechatListImage,jdbcType=VARCHAR},
      wechat_detail_image = #{wechatDetailImage,jdbcType=VARCHAR},
      pc_detail_image = #{pcDetailImage,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=CHAR},
      tag_id = #{tagId,jdbcType=INTEGER},
      coupon_category = #{couponCategory,jdbcType=INTEGER},
      business_online_url = #{businessOnlineUrl,jdbcType=VARCHAR},
      business_app_url = #{businessAppUrl,jdbcType=VARCHAR},
      receive_channel = #{receiveChannel,jdbcType=CHAR},
      app_download = #{appDownload,jdbcType=CHAR},
      business_activity = #{businessActivity,jdbcType=CHAR},
      business_activity_url = #{businessActivityUrl,jdbcType=VARCHAR},
      coupon_user_detail = #{couponUserDetail,jdbcType=VARCHAR},
      wechat_introduction = #{wechatIntroduction,jdbcType=LONGVARCHAR},
      pc_introduction = #{pcIntroduction,jdbcType=LONGVARCHAR},
      wechat_convert_method = #{wechatConvertMethod,jdbcType=LONGVARCHAR},
      pc_convert_method = #{pcConvertMethod,jdbcType=LONGVARCHAR},
      wechat_attention = #{wechatAttention,jdbcType=LONGVARCHAR},
      pc_attention = #{pcAttention,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.adCoupon" >
    update ad_coupon
    set business_id = #{businessId,jdbcType=BIGINT},
      begin_date = #{beginDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=CHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      business_name = #{businessName,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      is_creat = #{isCreat,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      coupon_type = #{couponType,jdbcType=CHAR},
      category_type = #{categoryType,jdbcType=CHAR},
      distribution_quantity = #{distributionQuantity,jdbcType=INTEGER},
      remind_quantity = #{remindQuantity,jdbcType=INTEGER},
      product_second_category = #{productSecondCategory,jdbcType=INTEGER},
      first_show = #{firstShow,jdbcType=CHAR},
      product_first_category = #{productFirstCategory,jdbcType=INTEGER},
      receive_type = #{receiveType,jdbcType=CHAR},
      coupon_value = #{couponValue,jdbcType=DECIMAL},
      coupon_unit = #{couponUnit,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      wechat_list_image = #{wechatListImage,jdbcType=VARCHAR},
      wechat_detail_image = #{wechatDetailImage,jdbcType=VARCHAR},
      pc_detail_image = #{pcDetailImage,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=CHAR},
      tag_id = #{tagId,jdbcType=INTEGER},
      coupon_category = #{couponCategory,jdbcType=INTEGER},
      business_online_url = #{businessOnlineUrl,jdbcType=VARCHAR},
      business_app_url = #{businessAppUrl,jdbcType=VARCHAR},
      receive_channel = #{receiveChannel,jdbcType=CHAR},
      app_download = #{appDownload,jdbcType=CHAR},
      business_activity = #{businessActivity,jdbcType=CHAR},
      business_activity_url = #{businessActivityUrl,jdbcType=VARCHAR},
      coupon_user_detail = #{couponUserDetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>