<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false">

	<bean id="myUserService" class="com.framework.spring.proxyfactoryadvisor.UserService"></bean>

	<!-- 定义前置通知 -->
	<bean id="beforeLogAdvice" class="com.framework.spring.proxyfactoryadvisor.BeforeLogAdvice"></bean>
	<!-- 定义后置通知 -->
	<bean id="afterLogAdvice" class="com.framework.spring.proxyfactoryadvisor.AfterLogAdvice"></bean>
	<!-- 定义异常通知 -->
	<bean id="throwsLogAdvice" class="com.framework.spring.proxyfactoryadvisor.ThrowsLogAdvice"></bean>
	<!-- 定义环绕通知 -->
	<bean id="logAroundAdvice" class="com.framework.spring.proxyfactoryadvisor.LogAroundAdvice"></bean>


	<bean id="advisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice" ref="beforeLogAdvice"/>
		<!--
		表示应用到spring4包下所有类中的所有print开头的方法上
		<property name="pattern" value="spring4\..*.print.*"/>
		-->
		<property name="pattern" value="com\.framework\.spring\.proxyfactoryadvisor\..*"/>
	</bean>

	<!-- 定义代理类，名 称为myProxy，将通过myProxy访问业务类中的方法 -->
	<bean id="myProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="myUserService"></property>
		<property name="interceptorNames">
			<list>
				<!--这里可以是advice,也可以是advisor-->
				<value>advisor</value>
			</list>
		</property>
	</bean>

</beans>